<nav class="navbar navbar-expand-lg sticky-top border-bottom wl-navbar">
  <div class="container-fluid wl-nav-wrap">
    <a class="navbar-brand wl-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <a class="wl-mobile-explore d-lg-none" href="/listings">Explore</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-lg-3">
        <a class="nav-link wl-nav-link" href="/listings">Explore</a>
      </div>

      <form class="d-flex wl-search-form" role="search" action="/listings" method="GET">
        <input
          class="form-control wl-search-input"
          type="search"
          name="q"
          placeholder="Search listings"
          value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
          aria-label="Search listings"
        />
        <button class="btn wl-search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>Search</span>
        </button>
      </form>

      <div class="navbar-nav ms-lg-auto wl-nav-actions">
        <a class="nav-link wl-nav-link wl-pill-link" href="/listings/new">Add Your Listing</a>
        <% if(!currUser){ %>
        <a class="nav-link wl-nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link wl-nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link wl-nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
